body {
  background-color: #fdfdfd;
}

#select {
  display: block;
  margin-bottom: 10px;
}

h3 {
  text-decoration:
    red
    overline
    underline;
}

.json {
  // border: 10px solid black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  grid-template-rows: minmax(1fr, 150px);
}

.result {
  align-self: center;
  border: 1px solid #666;
}
