body {
  background-color: #fdfdfd;
}

#select {
  display: inline-block;
  margin-bottom: 10px;
}

.header {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  text-align: center;
}

.sub-header {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  text-align: justify;
}

.json {
  // border: 10px solid black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.result {
  text-align: center;
  align-self: center;
}

.button {
  color: white;
  background-color: #010101;
}
